<ion-header>
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <div class="icon-grid">
      <!-- Íconos de las secciones -->
      <div class="icon-box">
        <a href="/iluminacion">
        <ion-icon name="bulb-outline"></ion-icon></a>
        <p>Iluminación</p>
      </div>
      <div class="icon-box">
        <a href="/energia">
        <ion-icon name="flash-outline"></ion-icon></a>
        <p>Energía</p>
      </div>
      <div class="icon-box">
        <a href="/eventos">
        <ion-icon name="timer-outline"></ion-icon></a>
        <p>Eventos</p>
      </div>
      <div class="icon-box">
        <a href="/escenarios">
        <ion-icon name="moon-outline"></ion-icon> </a>
        <p>Escenas</p>
      </div>
      <div class="icon-box">
        <a href="/movimiento">
        <ion-icon name="accessibility-outline"></ion-icon></a>
        <p>Movimiento</p> 
      </div>
      <div class="icon-box">
        <a href="/ajustes">
        <ion-icon name="settings-outline"></ion-icon></a>
        <p>Ajustes</p>
      </div>
      <!-- Botón central -->
      <div class="central-button">
        <a href="/automatizacion">
        <ion-icon name="settings-sharp"></ion-icon></a>
        <p>Automatizar</p>
        
      </div>
    </div>
  </div>
</ion-content>
