<ion-header>
  <ion-toolbar>
    <ion-title slot="start" >Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-container">
    <div class="icon-grid">
      <!-- Íconos de las secciones -->
      <div class="icon-box">
        <ion-icon name="bulb-outline"></ion-icon>
        <p>Iluminación</p>
      </div>
      <div class="icon-box">
        <ion-icon name="flash-outline"></ion-icon>
        <p>Energía</p>
      </div>
      <div class="icon-box">
        <ion-icon name="timer-outline"></ion-icon>
        <p>Eventos</p>
      </div>
      <div class="icon-box">
        <ion-icon name="moon-outline"></ion-icon>
        <p>Escenas</p>
      </div>
      <div class="icon-box">
        <ion-icon name="person-outline"></ion-icon>
        <p>Detección Movimiento</p>
      </div>
      <div class="icon-box">
        <ion-icon name="settings-outline"></ion-icon>
        <p>Ajustes</p>
      </div>
      <!-- Botón central -->
      <div class="central-button">
        <ion-icon name="settings-sharp"></ion-icon>
        <p>Automatizar</p>
      </div>
    </div>
  </div>
</ion-content>
