<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Automatización</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="automation-container">
    <div class="icon-circle">
      <ion-button 
      fill="clear" 
      [ngClass]="{ 'active-icon': isActive }" 
      (click)="toggleButton()">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-button>
    </div>
    <h2>{{ isActive ? 'Entorno automatizado' : 'Automatización de Iluminación' }}</h2>
    <p>{{ isActive ? 'La automatización está activa' : 'Controla y ajusta la iluminación de tus espacios fácilmente' }}</p>
    
  </div>
</ion-content>
  <!-- SINGLETON APLICADO-->
  <!-- <div class="wifi-config">
    <h2>Configuración de Wi-Fi</h2>
    <p><strong>SSID:</strong> {{ wifiConfig?.ssid }}</p>
    <p><strong>Password:</strong> {{ wifiConfig?.password }}</p>
  </div> -->
  <!-- FARCADE APLICADO
  <ion-button (click)="turnOnLights()">Encender luces</ion-button>
  <ion-button (click)="turnOffLights()">Apagar luces</ion-button>
  <ion-button (click)="changeScene('relax')">Escena Relax</ion-button> -->


